/* Animations CSS: Keyframes and animations used in the project */

@keyframes zoomInBackground {
    0% {
        background-size: 256px 256px, 110% auto;
    }
    100% {
        background-size: 256px 256px, cover;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spinner-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spinner-hide {
    0% {
        transform: scale(1) rotate(0deg);
        color: #e5e6e7;
        z-index: 100001;
    }
    99% {
        transform: scale(0.5) rotate(360deg);
        color: #e5e6e7;
        z-index: 100001;
    }
    100% {
        transform: scale(0.5) rotate(360deg);
        color: #e5e6e7;
        z-index: -1;
    }
}

@keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 100000;
    }
    15% {
        opacity: 1;
        z-index: 100000;
    }
    99% {
        opacity: 0;
        z-index: 100000;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
